* {
  padding: 0px;
  margin: 0px;
}

#content {
  background-color: red;
  width: 600px;
  height: 400px;
}

div[playMatObject="player"]
{
  width: 32px;
  height: 46px;
  float: left;
  border: 1px solid #ff0000;
}

.playMatObjectPlayer {
    /* Firefox */
  -moz-transition: all 0.8s ease;
  /* WebKit */
  -webkit-transition: all 0.8s ease;
  /* Opera */
  -o-transition: all 0.8s ease;
  /* Standard */
  transition: all 0.8s ease;
}